
Flu Vacc Report.csv
.idea/.gitignore
.idea/flu_report_emailer.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
Healthmail Addresses.csv
email_template.html
test_email.html
